@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 248, 250;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 100%;
  overflow-x: hidden;
}